{% load static i18n %}
<div class="constructor__right__menu constructor__label">
   <h2>{% trans 'Label field' %}</h2>
<div class="setting">

   <label>{% trans 'Size' %}:</label>
   <input 
      type="text" 
      class="settings__color"
      name = 'card_label_font_size'
      value="{{company.card_label_font_size}}"
      id = 'card_label_font_size'
   />
</div>
<div class="setting">
   <label>{% trans 'Font' %}:</label>
   <input 
      type="text" 
      class="settings__color settings__color__max"
      name = 'card_label_font_family'
      value="{{company.card_label_font_family}}"
      id = 'card_label_font_family'
   />
</div>
<div class="setting">
   <label>{% trans 'Color' %}:</label>
   <input 
      type="color" 
      class="settings__color"
      name = 'card_label_color'
      value="{{company.card_label_color}}"
      id = 'card_label_color'
   />
</div>
<div class="setting">
   <label>{% trans 'Font Weight' %}:</label>
   <input 
      type="text" 
      class="settings__color"
      name = 'card_label_font_weight'
      value="{{company.card_label_font_weight}}"
      id = 'card_label_font_weight'
   />
</div>
</div>