
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
}
body {
    background-color: #F6F1F1;
    color: #0a0a0a;

    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
input, select, textarea {
    border: 1.3px solid rgb(10, 10, 10, .3);
    padding: 10px;
    font-size: 16px;
    color: #0a0a0a;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
input:hover, select:hover {
    border-color: rgb(10, 10, 10, .5);
}
input:focus, select:focus {
    border-color: rgb(10, 10, 10, .8);
}

.btn {
    background-color: black;
    width: 100%;
    border-radius: 40px;
    font-size: 16px;
    padding: 12px 10px;
    color: white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn:hover {
    background-color: white;
    color: black;
}
a {
    color: #0a0a0a;
}
::selection {
    background-color: #0a0a0a;
    color: #F6F1F1;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #0a0a0a;
}

/* messages */
.message {
    position: fixed;
    background-color: #0a0a0a;
    border-radius: 30px;
    z-index: 10;
    top: 10%;
    left: 10%;
    color: #F6F1F1;
    padding: 10px 20px;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #0a0a0a;
    color: white;
    gap: 14px;
    height: 50px;
    font-size: 16px;
    padding: 0 4vw;
}
header select {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px 6px;
    max-width: 150px;
    font-size: 16px;
}
header select:hover, select:focus {
    border-color: #8ebbff;
    color: #8ebbff;
}
header a {
    font-size: 16px ;
    transition: all .3s linear;
    color: white;
    padding: 0 4px;
    padding-left: 8px;
    border-left: 1px solid rgb(254, 254, 254, .8);
}
header a:hover {
    color: #8ebbff;
}

@media screen and (max-width:500px) {
    header {
        height: 100px;
        gap: 6px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 2vw;
    }
    header a  {
        font-size: 18px;
    }
}