{% include 'main.html' %}

{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
<link rel="stylesheet" href="{% static 'css/translation_fields.css' %}">

<title>{% trans 'Создать карточку' %}</title>
{% endblock title %}

{% block content %}
{% include 'base/header.html' %}
<div class="page">
    <form action="" method="POST">
        {% csrf_token %}
        <h2>{% trans 'Создать новую карточку' %}</h2>

        <div class="form__translate">
            <div class="form__translate__buttons">
                <button type="button" class="translate__button__selected">Ru</button>
                <button type="button" class="">Kk</button>
                <button type="button" class="">En</button>
            </div>
            <div class="form__translate__fields">
                <div class="form__component translate__field__selected">
                    <label>{% trans 'Название визитки на русском' %}:</label>
                    {{ form.name_ru }}
                </div>
                <div class="form__component">
                    <label>{% trans 'Название визитки на казахском' %}:</label>
                    {{ form.name_kk }}
                </div>
                <div class="form__component">
                    <label>{% trans 'Название визитки на английском' %}:</label>
                    {{ form.name_en }}
                </div>
            </div>
        </div>


        <div class="form__component">
            <label>{% trans 'Автор визитки' %}:</label>
            <select name="user" required>
                <option value="create_new">{% trans 'Создать новую' %}</option>
                {% for user in users %}
                    <option value="{{ user.id }}">
                        {{ user.username }}
                        {% if user.email %} - {{user.email}}{% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>

            <button class="btn">{% trans 'Сохранить' %}</button>

    </form>
</div>

<script src="{% static '/js/translate_fields.js' %}"></script>
{% endblock content %}