{% include 'main.html' %}

{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/delete.css' %}">
<title>{% trans 'Удалить пользователя' %}</title>
{% endblock title %}

{% block content %}
{% include 'base/header.html' %}
<div class="page">
    <form class="page__form" method="POST">
        <h3>{% trans 'Вы действительно хотите удалит' %} <i>{% if type == 'company' %} {{user.slug}} {% else %} {{request.user.username}} {% endif %}</i>?</h3>
        {% csrf_token %}
        <div class="page__form__buttons">
            <a href="/" class="btn">{% trans 'Вернуться' %}</a>
            <button class="btn" >{% trans 'Удалить' %}</button>
        </div>
    </form>
</div>
{% endblock content %}