{% include 'main.html' %}

{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
<title>{% trans 'Настройки' %}</title>
{% endblock title %}

{% block content %}
{% include 'base/header.html' %}
<div class="page">
    <form action="" method="POST">
        {% csrf_token %}
        <h2>{% trans 'Настройки' %}</h2>
        <input 
            type="text" 
            name="username" 
            placeholder="{% trans 'Имя...' %}"
            value="{{request.user.username}}"
            required
        >
        <input 
            type="text" 
            name="email" 
            placeholder="{% trans 'Email...' %}"
            value="{{request.user.email}}"
        >
        <input 
            type="password" 
            name="password" 
            placeholder="{% trans 'Новый пароль...' %}"
        >
        <input 
            type="password" 
            name="password_confirmation" 
            placeholder="{% trans 'Подтвердить пароль...' %}"
        >

        <div class="buttons">
            <button class="btn">{% trans 'Сохранить' %}</button>
            <a class="btn" href="/">{% trans 'Уйти' %}</a>
        </div>
    </form>
</div>
{% endblock content %}